@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";

@theme{
    --color-darkgray: #222831;
    --color-sheen: #76ABAE;
    --color-brightgray: #EEEEEE;
    --color-gray: #D9D9D9;
    --color-white: #FFFFFF;
    --font-inter: 'Inter', sans-serif;
}